 /*background-color: #c2dde5; light blue*/
        /*background-color: #bcc8db;  light purple*/
        /*background-color: #BDCCDD;  light blue-purple */

        /*background-color: #e76630;  orange*/
        /*background-color: #3b54ac;  blue*/
        /*background-color: #EBEBEB;  light gray*/

        /*color picker */
        /*https://color.adobe.com/Color-Idea-1-color-theme-8252341/edit/?copy=true&base=2&rule=Custom&selected=4&name=Copy%20of%20Color%20Idea%201&mode=rgb&rgbvalues=1,0.5910095779290135,0.5391183556410671,0.8104623744411865,0.4879698872699044,0.9098039215686274,0.5882352941176471,0.6784313725490196,1,0.4,0.9098039215686274,0.8134319681127137,0.807843137254902,1,0.7372549019607844&swatchOrder=0,1,2,3,4*/


   /*     html, body {
            height: 100%;
        }*/

  html {
      font-size: 18px;
  }

  body {
      margin: 0;
      padding: 0;
      width: 100%;
      font-weight: 100;
      font-family: 'Lato', Arial, serif; ;
  }

  li {
      font-size: 1rem;
  }

  label{
      margin-left: 0.5em;
  }

  .container {
      margin-left: 10px;
      margin-right: 10px;
  }

  .light-font-weight {
      font-weight: 200;
  }

  .medium-font-weight, p, li, td, label {
      font-weight: 300;
  }

  .heavy-font-weight {
      font-weight: 900;
  }

  .font-1 {
      font-family: "Courier New", Courier;
  }

  .center-block{
      margin: 0 auto;
  }
  .center-inline {
      text-align: center;
  }

  .navbar{
      background-color: #BDCCDD; /* light blue-purple */
  }

  #navbar-name {
      font-size: 25px;
      text-align: left;
  }

  .navbar-right {
      font-size: 1.2em;
  }

  .menu.pinata {
      width: 22px;
  }

  #footer {
      height: 60px;
  }

  /*HOMEPAGE*/

  #banner, #summary{
      text-align: center;
  }

  #banner .title {
      font-size: 72px;
  }

  #banner .pinata {
      padding-top: 15px;
  }

  #summary h4 {
      font-size: 1.2em;
  }

  #summary p{
      font-size: 1.25em;
      max-width: 500px;
      margin: 0 auto;
  }

  /*RESUME*/

  .contact h4 {
      margin-top: 2px;
      margin-bottom: 2px;
  }

  .job-header p, .education-header p {
      font-size: .8rem;
      margin-bottom: 0px;
  }

  p.job-title, p.education-title {
      font-size: 1.1rem;
  }

  .job-description{
      padding-top: 5px;
      padding-bottom: 10px;
  }

  .education {
      margin-bottom: 10px;
  }

  .template {
      border: 1px dashed gray;
      height: 200px;
  }

  /*PROJECTS*/
  .project-description p{
      font-size: 1rem;
  }

  .project-description .tools-header {
    margin-right: 10px;
    font-size: 1.1rem;
  }

  .project-description .instruction {
    font-size: 0.8rem;
    margin-top: -10px;
  }

  #projects div:first-child {
      margin-top:25px;
  }

  #projects .row {
      margin-bottom: 20px;
  }

  #projects a {
      color: #337ab7;
      text-decoration: none ;
  }

  #projects a:hover {
      color: black;
      text-decoration:none;
      cursor:pointer;
  }

  .btn.nohover:hover{
    cursor:default !important;
    background-color: white;
}


  /*CONTACT*/
  #profile-picture, #about-me {
      /*text-align: center;*/
  }
  #profile-picture img{
      max-height: 350px;
      max-width: 90%;
  }
  #about-me {
      margin-top: 20px;
      font-size: 1.1rem;
  }
  #contact-form h3{
      margin-top: 0px;
  }

/***************************************/
  /*PROJECT-01*/
/***************************************/
  #color-swatch {
      max-width: 95%;
      width: 840px;
      height: 422px;
      border: gray 1px solid;
  }

  .color-block {
      display: inline-block;
      margin: 0px;
      height: 420px;
  }

  #color-1-column {
      width: 100%;
      /*background-color: red;*/
  }
  #color-2-column {
      width: 50%;
      /*background-color: blue;*/
  }
  #color-3-column {
      width: 33%;
      /*background-color: blue;*/
  }
  #color-4-column {
      width: 25%;
      /*background-color: blue;*/
  }
  #color-5-column {
      width: 20%;
      /*background-color: blue;*/
  }
  #color-6-column {
      width: 16.6667%;
      /*background-color: blue;*/
  }
  #color-7-column {
      width: 14.286%;
      /*background-color: blue;*/
  }

  #color-8-column {
      width: 12.5%;
      /*background-color: blue;*/
  }

  #color-checkboxes {
    margin-top: 20px;
  }

  #new-student {
      padding-top:25px;
      padding-bottom:25px;
  }


/***************************************/
        /*PROJECT-02*/
/***************************************/
.tab { margin-left: 15px;}
.column {float: left;}
.col-1-8 { width: 12.5%;}
.col-4-6 { width: 66.67%;}
.offset-1-6 {margin-left:16.67%;}
.notification { background-color: black; color:white; padding: 1px 0; margin: 0 auto; }
.notification:after { content: ""; display: table; clear: both; }
.notification img { margin-left: 16px; margin-right: 10px; margin-top: -6px; width: 18px; }
.notification p { display: inline-block; margin-top: 5px; }
.notification a { text-decoration: none;}
.notification a {color: #e29d32 ;}
.notification a:hover {color: #00a2ed;}
#confirm {color: #e29d32; min-width: 90px;}
#reset-cookie, #refresh-page { margin-top: 10px;}
#reset-cookie a { color: blue; }
@media (max-width: 990px) {
  .col-1-8 { width: 100%; }
}
#fake-content { height: 350px;}
#fake-content {
  /*background-image: url('../images/rio-1024-400.jpg');*/
  background: url('../images/rio.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}
#fake-name h1{
  margin: 0px 0px ;
  padding-top: 100px;
  font-family: Futura;
  font-size: 3em;
}
