 /*background-color: #c2dde5; light blue*/
        /*background-color: #bcc8db;  light purple*/
        /*background-color: #BDCCDD;  light blue-purple */

        /*background-color: #e76630;  orange*/
        /*background-color: #3b54ac;  blue*/
        /*background-color: #EBEBEB;  light gray*/


   /*     html, body {
            height: 100%;
        }*/

        html {
            font-size: 18px;
        }

        body {
            margin: 0;
            padding: 0;
            width: 100%;
            font-weight: 100;
            font-family: 'Lato';
        }

        li {
            font-size: 1rem;
        }


        .navbar{
            background-color: #BDCCDD; /* light blue-purple */
        }

        #name {
            font-size: 25px;
            font-weight: bold;
            text-align: left;
        }

        .font-1 {
            font-family: "Courier New", Courier;
        }

        .navbar-right {
            font-size: 1.2em;   
        }

        .menu.pinata {
            width: 22px;
        }

        #footer {
            height: 60px;
        }

        /*HOMEPAGE*/

        #banner, #summary{
            text-align: center;
        }

        #banner .title {
            font-size: 72px;
        }

        #banner .pinata {
            padding-top: 15px;
        }

        #summary h4 {
            font-size: 1.2em;
        }

        #summary p{
            font-size: 1.25em;
            max-width: 500px;
            margin: 0 auto;
        }

        /*RESUME*/

        .contact h4 {
            margin-top: 2px;
            margin-bottom: 2px;
        }

        .job-header p, .education-header p {
            font-size: .8rem;
            margin-bottom: 0px;
        }

        p.job-title, p.education-title {
            font-size: 1.1rem;
        }

        .job-description{
            padding-top: 5px;
            padding-bottom: 10px;
        }

        .education {
            margin-bottom: 10px;
        }

       