/*HEADER: */
/* #40376e dark purple */
/* #D4E4BC light grey */
/* Theme: https://coolors.co/d4e4bc-96acb7-36558f-40376e-48233c */

/*ANIMALS*/
/* #e76630;  orange*/
/* #3b54ac;  blue*/
/* #EBEBEB;  light gray*/


  html {
      font-size: 18px;
  }

  body {
      margin: 0;
      padding: 0;
      width: 100%;
      font-weight: 100;
      font-family: 'Lato', Arial, serif; ;
  }

  li {
      font-size: 1rem;
  }

  label{
      margin-left: 0.5em;
  }

  .color-1 {
    color: #337ab7;
  }

  .container {
      margin-left: 10px;
      margin-right: 10px;
  }

  .light-font-weight {
      font-weight: 200;
  }

  .medium-font-weight, p, li, td, label {
      font-weight: 300;
  }

  .heavy-font-weight {
      font-weight: 900;
  }

  .font-1 {
      font-family: "Courier New", Courier;
  }

  .center-block{
      margin: 0 auto;
  }
  .center-inline {
      text-align: center;
  }

  .navbar{
      background-color: #40376E; 
  }

  .navbar-default .navbar-brand { color: white; }
  .navbar-default .navbar-nav>li>a { color: white; }
  .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover { color: #96ACB7; }
  .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover { color: #96ACB7; }

  #navbar-name {
      font-size: 25px;
      text-align: left;
  }

  .navbar-right {
      font-size: 1.2em;
  }
  /* FIX FOR STICKY NAVBAR */
  .content { margin-top: 75px; } 

  .menu.pinata {
      width: 22px;
  }

  #footer {
      height: 60px;
  }

  /*HOMEPAGE*/

  #banner, #summary{
      text-align: center;
  }

  #banner .title {
      font-size: 72px;
  }

  #banner .pinata {
      padding-top: 15px;
  }

  #summary h4 {
      font-size: 1.2em;
  }

  #summary p{
      font-size: 1.25em;
      max-width: 500px;
      margin: 0 auto;
  }

  /*RESUME*/
  .contact h4 {
      margin-top: 2px;
      margin-bottom: 2px;
  }

  .resume-title p {
      font-size: .8rem;
      margin-bottom: 0px;
  }

  p.resume-subtitle{
      font-size: 1.1rem;
  }

  .job-description{
      padding-top: 5px;
      padding-bottom: 10px;
  }

  .education {
      margin-bottom: 10px;
  }

  .template {
      border: 1px dashed gray;
      height: 200px;
  }

  /*PROJECTS*/
  .project-description p{
      font-size: 1rem;
  }

  .project-description .tools-header {
    margin-right: 10px;
    font-size: 1.1rem;
  }

  .project-description .instruction {
    font-size: 0.8rem;
    margin-top: -10px;
  }

  #projects div:first-child {
      margin-top:25px;
  }

  #projects .row {
      margin-bottom: 20px;
  }

  #projects a {
      color: #337ab7;
      text-decoration: none ;
  }

  #projects a:hover {
      color: black;
      text-decoration:none;
      cursor:pointer;
  }

  .btn.nohover:hover{
    cursor:default !important;
    background-color: white;
}

  .sign-in p:first-child{ margin-bottom: 0px;}
  /*CONTACT*/
  #profile-picture img{
      max-height: 350px;
      max-width: 90%;
  }
  #about-me {
      margin-top: 20px;
      font-size: 1.1rem;
  }
  #contact-form h3{
      margin-top: 0px;
  }
  
  input::placeholder, textarea::placeholder {
    font-size: 1.2em;
    font-style: italic;
  }

  /*SCROLL TOP*/
  .scroll-top {
    width: 40px;
    height: 40px;
    padding: 5px 3px;
    color: #fff;
    position: fixed;
    bottom: 20px;
    right: 10px;
    display: none;
    background: #40376E;
    background-repeat: no-repeat;
    margin: auto;

  }

  @media and (max-wdith:400px) {
    .scroll-top { width: 25px; height: 25px;}
    .scroll-top img { background-size: 24px;}
    }


/***************************************/
  /*PROJECT-01*/
/***************************************/
  #color-swatch {
    background-color: lightgray;
    border-radius: 5px;
    border: lightgray 1px solid;
    max-width: 95%;
    width: 840px;
    height: 432px;
    padding-top: 5px;
  }

  .color-block {
      display: inline-block;
      margin: 0px;
      height: 420px;
  }

  /*GRID*/
  #color-1-column { width: 100%; }
  #color-2-column { width: 50%; }
  #color-3-column { width: 33%; }
  #color-4-column { width: 25%; }
  #color-5-column { width: 20%; }
  #color-6-column { width: 16.6667%; }
  #color-7-column { width: 14.286%; }
  #color-8-column { width: 12.5%; }
  #color-checkboxes { margin-top: 20px; }

  #new-student { padding-top:25px; padding-bottom:25px; }

/***************************************/
        /*PROJECT-02*/
/***************************************/
.tab { margin-left: 15px;}
.column {float: left;}
.col-1-8 { width: 12.5%;}
.col-4-6 { width: 66.67%;}
.offset-1-6 {margin-left:16.67%;}
.notification { background-color: black; color:white; padding: 1px 0; margin: 0 auto; }
.notification:after { content: ""; display: table; clear: both; }
.notification img { margin-left: 16px; margin-right: 10px; margin-top: -6px; width: 18px; }
.notification p { display: inline-block; margin-top: 5px; }
.notification a { text-decoration: none;}
.notification a {color: #e29d32 ;}
.notification a:hover {color: #00a2ed;}
#confirm {color: #e29d32; min-width: 90px;}
#reset-cookie, #refresh-page { margin-top: 10px;}
#reset-cookie a { color: blue; }
@media (max-width: 990px) {
  .col-1-8 { width: 100%; }
}
#fake-content { height: 350px;}
#fake-content {
  background: url('../images/rio.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}
#fake-name h1{
  margin: 0px 0px ;
  padding-top: 100px;
  font-family: Futura;
  font-size: 3em;
}